<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0" media="screen" title="resQmia" charset="UTF-8">

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'resQmia_app/favicon/bigQ.ico' %}">
    <link rel="shortcut icon" href="{% static 'resQmia_app/favicon/bigQ.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'resQmia_app/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Lobster|Abril+Fatface" rel="stylesheet">

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'resQmia_app/resQmia.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="col-sm-4">
            <div class="col-sm-8">
                <h1 class="brand">res<span class="brand2">Q</span>mia</h1>
            </div>
            {% for message in messages %}
            <h2>{{message}}</h2>
            {% endfor %}
        
            <div class="login col-sm-6 col-sm-offset-1">
                <form action="/resQmia/login" method="post">
                    {% csrf_token %}
                
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email_login" aria-describedby="emailHelp" placeholder="Email - Disabled" disabled>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password_login" aria-describedby="emailHelp" placeholder="Password - Disabled" disabled>
                </div>
                <button type="submit" name="login" class="btn pink" id="login_button">login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>`