<nav class="navbar navbar-fixed navbar-collapse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/resQmia"><h5 class="brand3">res<span class="brand4">Q</span>mia</h5></a>
        </div>
        
        <ul class="nav nav-tabs nav-justified">
            
            <li><a href="/resQmia/new_dog"><span class="glyphicon glyphicon-star"></span>New Dog</a></li>
            <li><a href="/resQmia/new_cat"><span class="glyphicon glyphicon-star-empty"></span>New Cat</a></li>
            <li><a href="/resQmia/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>    
</nav>


